.theme-contractor {
  /* Background colors */
  --color-base: #341108;
  --color-section: hsla(0, 0%, 0%, 0.33);
  --color-secondary: #000000;
  // --secondary-hue: #7c5746;
  // --secondary-saturation: #7c5746;
  --secondary-lightness-adjustment: 15;
  // --base-gradient-spread: 0.2;
  --color-base-start: #ae5c00;
  --color-base-end: #341108;

  /* Scrollbar */
  --color-scrollbar-base: var(--color-section);
  --color-scrollbar-thumb: hsl(from var(--color-base) h s calc(l + 9.25));

  /* Candystripe */
  --candystripe-odd: hsla(0, 0%, 0%, 0.25);
  --candystripe-even: transparent;

  /* Base colors */
  --color-red: hsl(0, 70%, 50%);
  --color-orange: hsl(25, 90%, 50%);
  --color-yellow: hsl(50, 97.5%, 50%);
  --color-olive: hsl(70, 75%, 45%);
  --color-green: hsl(140, 70%, 40%);
  --color-teal: hsl(180, 100%, 35%);
  --color-blue: hsl(210, 65%, 47.5%);
  --color-violet: hsl(260, 60%, 50%);
  --color-purple: hsl(290, 60%, 50%);
  --color-pink: hsl(325, 70%, 50%);
  --color-brown: hsl(25, 47.5%, 45%);

  /* Grayscale colors */
  --color-black: hsl(0, 0%, 0%);
  --color-white: hsl(0, 0%, 100%);
  --color-grey: hsl(0, 0%, 50%);
  --color-light-grey: hsl(0, 0%, 66.6%);
  --color-gray: var(--color-grey);
  --color-light-gray: var(--color-light-grey);

  /* Action colors */
  --color-action: hsl(0, 0%, 50%);
  --color-hover: hsl(from var(--color-action) h s l / 0.25);
  --color-active: hsl(from var(--color-action) h s l / 0.3);
  --color-selected: hsl(from var(--color-action) h s l / 0.4);

  /* Semantic colors */
  --primary-hue: 5;
  --primary-saturation: 37.5%;
  --primary-lightness: 45%;
  --color-primary: #ff0000;
  --color-good: hsl(95, 62.5%, 40%);
  --color-average: hsl(32.5, 90%, 50%);
  --color-bad: hsl(0, 72.5%, 50%);
  --color-label: hsl(from var(--color-primary) h 17.5 57.5);

  /* Text colors */
  --color-text: #ffd000;
  --color-text-translucent: hsl(from var(--color-text) h s l / 0.5);
  --color-text-translucent-light: hsl(from var(--color-text) h s l / 0.75);
  --color-text-fixed-white: var(--color-white);
  --color-text-fixed-black: var(--color-black);

  /* Link colors */
  --color-hyperlink: hsl(220, 100%, 70%);
  --color-hyperlink-visited: hsl(260, 100%, 70%);
  --color-hyperlink-new: hsl(0, 100%, 70%);
  --color-hyperlink-new-visited: hsl(15, 100%, 70%);

  /* Border */
  --color-border: hsla(0, 0%, 100%, 0.1);
  --color-border-dark: hsla(0, 0%, 0%, 0.33);
  --border-primary-saturation: 100;
  --border-primary-lightness: 75;
  --border-primary-alpha: 0.75;
  --color-border-primary: hsl(
    from var(--color-primary) h var(--border-primary-saturation)
      var(--border-primary-lightness) / var(--border-primary-alpha)
  );
  --color-border-secondary: hsl(from var(--color-border-primary) h s l / 1);

  --tab-color: #cd0606;
  // --tab-background: #000000;
  --tab-color-selected: #ffdeb0;
  --tab-background-selected: #131217;

  --section-background: #0000;

  .Tabs {
    height: 100%;
    background-color: #0d0402;
    // border: var(--tab-indicator-size) solid var(--tab-color);
    // border-bottom: transparent;
  }

  .uplink-currency {
    color: black;
    background-color: #ffff;
  }

  .TitleBar__title {
    color: #2af6bc;
  }

  .Layout__content {
    background-image: unset;
  }

  .Layout__content::before {
    content: '';
    inset: 0;
    position: absolute;
    background-repeat: no-repeat;
    background-image: url('../assets/scuttle.png');
    opacity: 0.5;

    background-position-x: 50%;
    background-position-y: 50%;
    background-size: 60%;
    image-rendering: crisp-edges;
  }
}
